@use "../sass/_variables";

@mixin flex($dis) {
  @if ($dis== col) {
    display: flex;
    flex-direction: column;
    align-items: center;
  } @else {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

:root {
  font-family: "Monospace";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: variables.$background;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 2rem;
  transition: all 0.4s ease-in;
}

a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    font-size: 1.1rem;
    color: variables.$highlight;
  }
}
.title-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;
}

.App-Main > * {
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.result-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  div {
    margin: 0;
    max-width: 33%;
    max-height: 20%;
    img {
      max-width: 70%;
      max-height: 70%;
      border-radius: 10px;
    }
  }
}

form {
  font-style: italic;
  input {
    background: none;
    color: white;
    border: none;
    border-bottom: 1px white solid;
    font-size: 1.2rem;
    &:focus {
      outline: none;
    }
  }
  button {
    margin-left: 1%;
    background-color: variables.$background-secondary;
    border: none;
    padding: 8px;
    border-radius: 3px;
    transition: all 0.4s ease-in;
    &:hover {
      background-color: variables.$highlight;
      transform: scale(1.2);
    }
  }
}

h3 {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  text-overflow: ellipsis;
}

.artist-container {
  justify-self: center;
  padding: 1%;
  background-color: variables.$background-secondary;
  width: 50%;
  height: 30%;
  box-shadow: 2px 2px 2px 2px rgba(242, 233, 228, 0.2);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.artist-photo {
  align-self: center;
  width: 30%;
  height: 40%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.artist-info {
  @include flex(col);
  width: 100%;
  p {
    margin: 10px 5px 10px 5px;
  }
}

.tracks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  > h3 {
    margin-right: 10px;
  }

  > button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: variables.$highlight;
    align-self: center;
    justify-self: flex-end;
    font-weight: bolder;
    transition: all ease-in-out 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 800px) {
  body {
    padding: 0;
  }
  .artist-container {
    padding: 10% 20%;
    margin-top: 10%;
  }

  .artist-photo {
    height: 70%;
    width: 60%;
  }

  .result-container {
    @include flex(col);
    > div {
      max-width: 70%;
      max-height: auto;

      > img {
        width: 130%;
        height: 120%;
      }
    }
  }
}
